
{
  "env": {
    "node": true,
    "browser": true,
    "es6": true,
    "serviceworker": true,
    "jest/globals": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:jest/recommended"
  ],
  "globals": {
    "workbox": "readonly"
  },
  "plugins": [
    "jest"
  ],
  "parser": "@babel/eslint-parser"
}
