{% extends './_includes/layouts/default.njk' %}

{% block body %}
	{% include './_includes/contents/intro.njk' %}
	{% include './_includes/contents/social.njk' %}
	{% include './_includes/contents/opensource.njk' %}
	{% include './_includes/contents/brands.njk' %}
{% endblock %}
