// Overall colors:
$color-background: #1B1B1B;
$color-text: #FFFFFF;
$color-link: #00FFC5;

// Font definitions
$font-size-base: 14px !default;
$font-line-height-base: 20px / $font-size-base !default;

// Modules:
$intro-shadow-color: #000000 !default;
