// Overall colors:
$color-background: #FFFFFF;
$color-text: #474747;
$color-link: #00FFC5;

// Font definitions
$font-size-base: 14px !default;
$font-line-height-base: 20px / $font-size-base !default;
