<section class="content content-intro">
	<div>
		<h1>
			<em>{{ content.intro.headline }}<span> -</span></em>
			<span>{{ content.intro.subline }}</span>
		</h1>

		<p>{% schema content.intro.schema, content.intro.copy %}</p>
	</div>
</section>
