<section class="content content-opensource">
	<div>
		<h2>{{ content.opensource.headline }}</h2>
		<p>{% linkify content.opensource.links, content.opensource.copy %}</p>

		<ul>
			{% for project in content.opensource.projects %}
				<li id="opensource-{{ project.name | slug }}">
					<h3>
						<span>
							{{ project.name }}
						</span>
						{% if project.note %}
							<em>{{ project.note }}</em>
						{% endif %}
					</h3>

					{% if project.datePublished %}
						<time datetime="{{ project.datePublished | date | datetime }}">
							{{ project.datePublished | date | fullyear }}
						</time>
					{% endif %}

					{% if project.details %}
						{% for line in project.details %}
							<p>
								{% linkify project.links, line %}
							</p>
						{% endfor %}
					{% endif %}
				</li>
			{% endfor %}
		</ul>
	</div>
</section>
