<section class="content content-opensource">
	<div>
		<h2>{{ content.opensource.headline }}</h2>
		<p>{{ content.opensource.copy }}</p>

		<ul>
			{% for project in content.opensource.projects %}
				<li id="opensource-{{ project.name | slug }}">
					<h3>
						<span>
							{{ project.name }}
						</span>
						{% if project.note %}
							<em>{{ project.note }}</em>
						{% endif %}
					</h3>

					{% if project.datePublished %}
						<time datetime="{{ project.datePublished | date | datetime }}">
							{{ project.datePublished | date | fullyear }}
						</time>
					{% endif %}

					{% if project.details %}
						<p>
							{{ project.details }}

							{% if project.url %}
								To get more details of this project, please visit the project page of
								<a
									class="link"
									href="{{ project.url }}"
									title="Open the ”{{ project.name }}” website in a new tab"
									target="_blank"
									rel="noopener noreferrer"
								>{{ project.name }}</a>.
							{% endif %}
						</p>
					{% endif %}
				</li>
			{% endfor %}
		</ul>
	</div>
</section>
