.content-intro {
	// Using ep naturalblack background pattern.
	// Taken from: https://www.toptal.com/designers/subtlepatterns/ep-natural-black/
	@include shadow();
	display: flex;
	flex-direction: column;
	justify-content: center;
	overflow: hidden;
	min-height: 90vh;
	background: transparent url('../img/subtlepatterns-ep-naturalblack.png') repeat;
	background-attachment: fixed;
	text-align: center;

	@include media-retina() {
		background-image: url('../img/subtlepatterns-ep-naturalblack@2x.png');
	}

	h1 {
		display: inline-block;
		position: relative;
		margin: 0 auto 4rem;
		padding: 2rem;
		max-width: 45rem;

		&:before,
		&:after {
			animation: intro-headline $intro-headline-animation-duration infinite;
			content: '';
			speak: none;
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 45%;
			height: 45%;
			border: 3px solid;
			will-change: width, height;
		}

		&:before {
			border-right: 0;
			border-bottom: 0;
		}

		&:after {
			top: auto;
			right: 0;
			bottom: 0;
			left: auto;
			border-top: 0;
			border-left: 0;
		}

		em,
		span {
			display: block;
		}

		em {
			@include headline-primary($use-animation: false);
			margin: 0 0 1rem;
			border-bottom: 2px solid;
			line-height: 1;

			span {
				@include invisible();
			}
		}

		span {
			@include headline-secondary();
		}
	}

	p {
		margin: 0 auto;
		max-width: 30rem;

		@include break-at(nth($content-breakpoints, 1)) {
			font-size: 1.125em;
		}

		@include break-at(nth($content-breakpoints, 2)) {
			font-size: 1.25em;
		}
	}

	@keyframes intro-headline {
		0%,
		100% {
			width: 45%;
			height: 45%;
		}

		50% {
			width: 100%;
			height: 100%;
		}
	}
}
