<div class="content content-intro">
	<div>
		<h1>
			<em>{{ headline }}<span> -</span></em>
			<span>{{ index.subline }}</span>
		</h1>

		<p>{{ copy }}</p>

	</div>
	<img src="{{ background }}" alt="" aria-hidden="true" />
</div>
