<section class="content content-intro">
	<div>
		<h1>
			<em>{{data.headline}}<span> -</span></em>
			<span>{{data.subline}}</span>
		</h1>

		<p itemprop="description">{{data.copy}}</p>
	</div>
</section>
