html,
body {
	// Allow better font smoothing:
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	// Prevent iOS font scaling in landscape:
	-webkit-text-size-adjust: none;
}

html {
	// Using ep naturalblack background pattern.
	// Taken from: https://www.toptal.com/designers/subtlepatterns/ep-natural-black/
	@include render-background($background-primary);
	color: $color-text;
	font-family: $font-default-family;
	font-size: $font-size-base;
}

body {
	line-height: $font-line-height-base;
}

a {
	color: inherit;
}
