html,
body {
	// Allow better font smoothing:
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	// Prevent iOS font scaling in landscape:
	-webkit-text-size-adjust: none;
}

html {
	@include render-background();
	color: $color-text;
	font-family: $font-default-family;
	font-size: $font-size-base;
}

body {
	line-height: $font-line-height-base;
}

a,
button {
	transition: text-underline-offset 0.3s;
	appearance: none;
	cursor: pointer;
	margin: 0;
	padding: 0;
	background: transparent;
	border: 0;
	border-bottom: 1px solid transparent;
	border-radius: 0;
	color: inherit;
	font: inherit;
	text-align: inherit;
	text-decoration: underline;
	text-underline-offset: 0.1em;
	-webkit-touch-callout: none;
	-webkit-tap-highlight-color: transparent;

	@include when-hovered() {
		text-underline-offset: 0.25em;
	}

	@include when-focused() {
		background-color: $color-focus;
		outline: none;
		color: $color-text;
		text-decoration: none;
	}
}

::-moz-selection {
	background-color: $color-focus;
	color: $color-text;
}

::selection {
	background-color: $color-focus;
	color: $color-text;
}
