@use 'sass:math';

@mixin hide-text() {
	$approximate-em-value: math.div(12px, 1em);
	$wider-than-any-screen: -9999em;
	overflow: hidden;
	text-align: left;
	text-indent: $wider-than-any-screen * $approximate-em-value;
}
