%invisible {
	@include hide-text();
	cursor: default;
	pointer-events: none;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
	text-transform: none;

	&:focus {
		border: 0;
		outline: 0;
	}
}

@mixin invisible() {
	@extend %invisible;
}
