.content-footer {
	@include render-background($footer-background);

	sub {
		display: block;
		padding: 1rem 0;
		font-size: 0.75em;
	}

	a {
		text-decoration: none;

		&:focus,
		&:hover {
			outline: none;
			text-decoration: underline;
		}
	}
}
