// Dimensions:
$content-max-width: 65rem !default;
$content-breakpoints: (62rem, 65rem,) !default;

// Animations:
$transition-duration: 0.3s !default;

// Overall colors:
$color-background: #0F141C !default;
$color-text: #FFFFFF !default;
$color-link: #00FFC5 !default;

// Font definitions
$font-size-base: 14px !default;
$font-line-height-base: 28px / $font-size-base !default;

// Icon-font:
$font-icons-name: 'icons' !default;
$font-icons-dir: '../fonts/' !default;
$font-icons-filename: 'icons' !default;

// Default font:
$font-default-name: 'lora' !default;
$font-default-family: 'lora', serif !default;
$font-default-dir: '../fonts/' !default;
$font-default-filename: 'lora' !default;

// Primary font:
$font-primary-name: 'satisfy' !default;
$font-primary-family: 'satisfy', serif !default;
$font-primary-dir: '../fonts/' !default;
$font-primary-filename: 'satisfy' !default;

$font-load:
	($font-icons-name, $font-icons-dir, $font-icons-filename, false),
	($font-default-name, $font-default-dir, $font-default-filename, false),
	($font-primary-name, $font-primary-dir, $font-primary-filename, false),
;

// Shadow (mixin)
$shadow-color: #000000 !default;

// Headlines:
$headline-primary-animation-duration: 25s !default;

// Intro:
$intro-headline-animation-duration: 25s !default;

// Social:
$social-background: $color-text !default;
$social-color: lighten($color-background, 5%) !default;
$social-icons: ('github', 'twitter', 'linkedin') !default;

// Projects:
$project-schemes: (
	'dark': (
		'background': $color-background,
		'color': $color-text,
		'shadow': true,
	),
	'light': (
		'background': $color-text,
		'color': lighten($color-background, 5%),
		'shadow': false,
	)
) !default;
