// Dimensions:
$content-max-width: 65rem !default;
$content-breakpoints: (62rem, 65rem,) !default;

// Animations:
$transition-duration: 0.3s !default;
$ready-delay: 2s !default;

// Overall colors:
$color-background: #0F141C !default;
$color-text: #FFFFFF !default;
$color-link: #00FFC5 !default;

// Backgrounds:
$background-priamry: (
	'background': $color-background,
	'image@1x': '../img/backgrounds/subtlepatterns-ep-naturalblack.png',
	'image@2x': '../img/backgrounds/subtlepatterns-ep-naturalblack@2x.png',
	'attachment': fixed,
	'position': center,
	'repeat': repeat,
	'width': 200px,
	'height': 200px,
) !default;

// Font definitions
$font-size-base: 16px !default;
$font-line-height-base: 30px / $font-size-base !default;

// Default font:
$font-default-family: Georgia, serif !default;

// Primary font:
$font-primary-name: 'satisfy' !default;
$font-primary-family: 'satisfy', serif !default;
$font-primary-dir: '../fonts/' !default;
$font-primary-filename: 'satisfy' !default;

// Icon-font:
$font-icons-name: 'icons' !default;
$font-icons-dir: '../fonts/' !default;
$font-icons-filename: 'icons' !default;

$font-load:
	($font-primary-name, $font-primary-dir, $font-primary-filename, false),
	($font-icons-name, $font-icons-dir, $font-icons-filename, false),
;

// Shadow (mixin)
$shadow-color: #000000 !default;

// Headlines (mixin):
$headline-primary-animation-duration: 25s !default;

// Intro:
$intro-headline-animation-duration: 25s !default;
$intro-background: $background-priamry !default;

// Social:
$social-background: $color-text !default;
$social-color: lighten($color-background, 5%) !default;
$social-icons: ('github', 'twitter', 'linkedin') !default;

// Projects:
$project-schemes: (
	'dark': (
		'background': $background-priamry,
		'color': $color-text,
		'shadow': true,
	),
	'light': (
		'background': (
			'background': $color-text,
		),
		'color': lighten($color-background, 5%),
		'shadow': false,
	)
) !default;

// Footer:
$footer-background: $background-priamry !default;
