.content-projects {
	h2 {
		@include headline-primary();
	}

	h3 {
		margin: 0 0 1em;

		span,
		em {
			display: block;
		}

		span {
			@include headline-secondary();
			margin: 0;
		}
	}

	a {
		text-decoration: none;

		&:focus,
		&:hover {
			outline: none;
			text-decoration: underline;
		}
	}

	time {
		margin: 0 0 1em;
		font-style: italic;
	}

	p {
		margin: 0 auto 1rem;
		max-width: 30rem;
	}

	li {
		position: relative;
		padding: 5rem 2rem 0;

		&:before {
			content: '';
			speak: none;
			display: block;
			opacity: 0.5;
			transform: translateX(-50%);
			position: absolute;
			top: 2rem;
			left: 50%;
			width: 100%;
			max-width: 35rem;
			border-bottom: 1px solid;
		}
	}

	@each $name, $props in $project-schemes {
		&.has-#{$name}-scheme {
			$background: map-get($props, 'background');
			$color: map-get($props, 'color');
			$shadow: map-get($props, 'shadow');
			@include render-background($background);
			color: $color;

			@if $shadow {
				@include shadow();
			}
		}
	}
}
