.content-social {
	background: $social-background;
	color: $social-color;
	text-align: center;

	h2 {
		@include headline-primary();
	}

	li,
	a {
		display: inline-block;
	}

	li {
		position: relative;
		padding: 0 0.5rem;

		@include break-at(nth($content-breakpoints, 1)) {
			padding: 0 1rem;
		}

		@include break-at(nth($content-breakpoints, 2)) {
			padding: 0 2rem;
		}

		&:before,
		&:after {
			content: '';
			speak: none;
			display: block;
			transform: translate(-50%, -50%);
			position: absolute;
			top: 50%;
			left: 0;
			width: 0.5em;
			height: 0.5em;
			border: 2px solid;
			border-radius: 50%;
		}

		&:after {
			left: 100%;
		}

		+ li {
			&:before {
				content: none;
			}
		}
	}

	a {
		@include icon('github', 'before');
		padding: 1rem;
		font-size: 3em;
		text-decoration: none;
	}

	span {
		@include invisible();
	}

	@each $icon in $social-icons {
		.is-type-#{$icon} {
			a {
				@include icon-sign($icon, 'before');
			}
		}
	}
}
