<!DOCTYPE html>
<html lang="de" class="no-js" itemscope itemtype="http://schema.org/WebPage">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta name="robots" content="index, follow" />
		<meta name="siteinfo" content="robots.txt" />
		<meta name="viewport" content="initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=0,width=device-width" />
		<title><%= title %></title>
		<link rel="stylesheet" type="text/css" href="styles/styles.css" />
	</head>
	<body>
		<%= content %>
	</body>
</html>
