%button {
	padding: 0.25em 0.75em;
	border: 1px solid;
	text-align: center;
	text-decoration: none;

	@include when-hovered() {
		background: $color-text;
		color: $color-background;
	}

	@include when-focused() {
		background-color: $color-focus;
		color: $color-text;
	}

	@include when-pressed() {
		transform: scale(1.02);
		background: $color-text;
		color: $color-background;
	}
}

@mixin button-primary() {
	@extend %button;
	transition:
		tansform 0.15s,
		background 0.3s,
		border 0.3s,
		color 0.3s,
		box-shadow 0.3s;
	background: transparent;
	box-shadow: 0 0 0 rgba($color-background, 0);
}
