<title>{{#if title}}{{title}}{{/if}}</title>
<meta name="viewport" content="initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=0,width=device-width" />
<link rel="stylesheet" type="text/css" href="./css/styles.css" />
