<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		{{> head }}
	</head>
	<body>
		{{> body }}

		<script type="text/javascript">
			function __run() {
				window.ApplicationRunner.run(['app/Application']);
			}
		</script>
		<script type="text/javascript" src="./js/Application.en.min.js" async defer onload="__run()"></script>
	</body>
</html>
