<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{{#if title}}{{title}}{{/if}}</title>
		<meta name="viewport" content="initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=0,width=device-width" />

		<link rel="preload" href="./fonts/lora.woff" as="font" type="font/woff" crossorigin="crossorigin" />
		<link rel="preload" href="./fonts/satisfy.woff" as="font" type="font/woff" crossorigin="crossorigin" />
		<link rel="preload" href="./fonts/icons.woff" as="font" type="font/woff" crossorigin="crossorigin" />

		<link rel="stylesheet" type="text/css" href="./css/styles.css" />
	</head>
	<body>
		{{> body }}

		<script type="text/javascript">
			function __run() {
				window.ApplicationRunner.run(['app/Application']);
			}
		</script>
		<script type="text/javascript" src="./js/Application.en.js" async defer onload="__run()"></script>
	</body>
</html>
