body {
	@include font-default();
	box-sizing: border-box;
	color: $color-text;
	font-size: 16px;
}

h1 {
	@include font-title();
	user-select: none;
	cursor: default;
	overflow: hidden;
	display: inline-block;
	margin: 0 0 0.5em;
	padding: 0 0.25em;
	font-size: 5.625em;
	line-height: 0.7;
	text-align: center;
	border-bottom: 2px solid $color-text;
}

h2 {
	margin: 0 0 1em;
	font-size: 2em;
}

h3 {
	margin: 0 0 0.25em;
	font-size: 1.5em;
}

a {
	color: inherit;
	text-decoration: none;
}

p,
li {
	margin: 0 0 1em;
}

p {
	a {
		color: $color-link;
		text-decoration: underline;
	}
}
